<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="COLORFUL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%yellow([%d{yyyy-MM-dd HH:mm:ss.SSS}]) %cyan([%-5level]) %message %green([%thread]) %blue([%class{0}.%method]) MDC: %mdc %n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="COLORFUL_CONSOLE"/>
    </root>
    <logger name="org.tnmk" level="TRACE"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
</configuration>
